body {
  background-image: linear-gradient(#778899, #8FBC8F, #fff);
}
.wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* A media query for a large screen */
  @media (min-width: 1170px) {
    .wrapper {
      max-width: 1170px;
    }
  }